* {
    margin: 0 auto;
    font-size: 20px;
}


main {
    height: 100vh;
    display: flex;
    background-color: #ebebeb;
}

#cardHolder {
    display: inline-block;
    align-self: center;
    align-content: center;
    background-color: #fff;
    height: 60vh;
    width: 55vw;
    border: #000 solid 2px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.cardForm {
    padding: 30px 0 0 0;
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
}

input {
    text-align: center;
    border: none;
    border-bottom: #234 solid 1px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

input:focus {
    outline: 0;
    background-color: rgba(192, 220, 237, 0.933);
}

fieldset {
    border: none;
}

#separador-mes-ano {
    display: inline;
}

.blocknumber {
    display: inline-block;
    gap: 1px;
}

button {
    text-align: center;
    padding: 10px 25px;
    border-radius: 13px;
    width: 100%;
    border: none;
    background-color: rgb(179, 61, 38);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 0 12px #000;
}

table {
    display: flexbox;
    min-width: 100%;
    align-items: center;
}

.desarrollado {
    position: absolute;
    line-height: 1.7;
    padding: 15px;
    top: 13vh;
    left: 15.5vw;
    border: 2px rgb(179, 61, 38) solid;
    text-align: center;
    background-color: aliceblue;
}

#cardInfo {
    
    box-shadow: 1px 0 12px #000;
}

#cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 20%;
}

#cardName {
    font-size: 25px;
    font-weight: bold;
}